<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="CH">
    <classes>
      <class name="com.qualtech.framework.demo.automationscript.login.LoginScript"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  <test name="IE">
    <classes>
      <class name="com.qualtech.framework.demo.automationscript.login.LoginScript"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="FF">
    <classes>
      <class name="com.qualtech.framework.demo.automationscript.login.LoginScript"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
